body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}

.nav-logo {
    width: 139px;
    height: 60px;
}

.nav-logo:hover {
    cursor:pointer;
}

.nav-menu {
    list-style: none;
    display: flex;
    font-size: 16px;
    gap: 32px;
    align-items: center;
    margin-right: 50px;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.nav-menu li a:hover {
    color: #30B868;
}

.nav-button {
    padding: 10px 20px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.nav-button:hover {
    box-shadow: 0px 4px 25px rgba(48, 184, 104, 0.5);
}

.hero {
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 154.5px;
    padding-bottom: 154.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.live {
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    font-size: 12px;
}

.live:hover {
    cursor: pointer;
    color: #30B868;
    box-shadow: 0px 4px 12px rgba(0, 255, 106, 0.5);
}

.heading {
    font-size: 72px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.heading:hover {
  text-shadow: 2px 2px 20px rgba(0, 255, 106, 0.5);
}

.heading-highlight {
    color: #30B868;
    font-weight: 700;
    font-size: 72px;
    margin: 0;
}

.heading-highlight:hover {
  text-shadow: 2px 2px 20px rgba(0, 255, 106, 0.5);
}

.subheading {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 16px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.hero-button-1 {
    padding: 10px 15px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-button-1:hover {
    box-shadow: 0px 4px 25px rgba(48, 184, 104, 0.5);
}

.hero-button-2 {
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-button-2:hover {
    box-shadow: 0px 4px 25px rgba(255, 255, 255, 0.5);
}

.notes {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #001931;
}


.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 40px;
}

.card:hover {
    box-shadow: 5px 10px 75px rgba(0, 0, 0, 0.1);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 322px;
    height: 300px;
}

.icon {
    background-color: #F95555;
    padding: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
}

.card:hover .icon {
    background-color: #ff0000;
}

.card h2 {
    font-weight: 700;
    color: #001931;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}

.card-description {
    font-size: 14px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    margin-top: -15px;
}

.second-brain {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 120px;
    padding-left: 155px;
    gap: 125px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.second-brain-highlight {
    color: #30B868;
}

.second-brain-title {
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin: 0;
}

.second-brain-description {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.lists {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: -15px;
}

.list :hover {
    cursor: pointer;
    color: #30B868;
}

.early-access {
    background-color: rgba(247, 246, 242, 1);
    padding: 75px 120px;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    margin: 16px 155px;
    margin-bottom: 75px;
    border: none;
    border-radius: 12px;
}

.early-access-title {
    font-size: 36px;
    font-weight: 700;
    color: #001931;
    margin: 0;
}

.early-access-button {
    margin-top: 24px;
    padding: 10px 20px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 4px 12px rgba(48, 184, 104, 0.5);
    margin: 0;
    display: flex;
    gap: 12px;
}

.early-access-button:hover {
    background-color:#30B868;
    box-shadow: 0px 4px 25px rgba(48, 184, 104, 0.5);
}

.early-access-p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

footer {
    align-items: center;
    padding: 16px 120px;
    background-color: #001931;
    padding-top: 75px;
    padding-bottom: 16px;
    padding-left: 136px;
    padding-right: 136px;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.social-title {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.social-icon {
    width: 15px;
    height: 15px;
}

hr {
    border: none;
    border-top: 1px solid #14334e;
    margin-top: 100px;
}

.copyright {
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
    margin-top: 20px;
}