nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 136px;
}

.nav-logo {
    width: 139px;
    height: 60px;
}

.nav-menu {
    list-style: none;
    display: flex;
    font-size: 16px;
    gap: 32px;
    align-items: center;
    margin-right: 50px;
}

.nav-menu li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.nav-button {
    padding: 10px 20px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.hero {
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding-top: 154.5px;
    padding-bottom: 154.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.live {
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    gap: 10px;
    font-size: 12px;
}

.heading {
    font-size: 72px;
    font-weight: 700;
    color: white;
    margin: 0;
}

.heading-highlight {
    color: #30B868;
    font-weight: 700;
    font-size: 72px;
    margin: 0;
}

.subheading {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-top: 16px;
}

.hero-buttons {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.hero-button-1 {
    padding: 10px 15px;
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-button-2 {
    padding: 10px 15px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.notes {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #001931;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-top: 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 24px;
    width: 322px;
    height: 300px;
}

.icon {
    background-color: #F95555;
    padding: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 100%;
}

.card-description {
    font-size: 14px;
    font-weight: 400;
    color: #627382;
    text-align: center;
    margin-top: -15px;
}